<section class="services" id="SERVICE">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="single_service wow fadeInUp" data-wow-delay="1s">
                    <h1>Тег: <? echo $data[tag_name][0][name];?></h1>
                    <?php

            foreach($data[tags] as $news_data) {?>

                    <a href="/news/view/<?=$news_data['id_news']?>"><?=($news_data[title]);?></a><br>






                    <?php }?>
                </div>
            </div>
        </div>




</section>